.fadeUp{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.8s ease;
}
.fadeUp.active{
    transform: translateY(0);
    opacity: 1;
}

.fadeDown{
    position: relative;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.8s ease;
}
.fadeDown.active{
    transform: translateY(0);
    opacity: 1;
}

.fadeLeft{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 0.8s ease;
}
.fadeLeft.active{
    transform: translateX(0);
    opacity: 1;
}

.fadeRight{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 0.8s ease;
}
.fadeRight.active{
    transform: translateX(0);
    opacity: 1;
}

/* Animações de uma execução */
.fadeRightOnce{
    position: relative;
    animation: 0.8s ease 1 fadeRightOnceKF;
}
@keyframes fadeRightOnceKF {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.fadeLeftOnce{
    position: relative;
    animation: 0.8s ease 1 fadeLeftOnceKF;
}
@keyframes fadeLeftOnceKF {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.fadeUpOnce{
    position: relative;
    animation: 0.8s ease 1 fadeUpOnceKF;
}
@keyframes fadeUpOnceKF{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeDownOnce{
    position: fixed;
    animation: 0.8s ease 1 fadeDownOnceKF;
}
@keyframes fadeDownOnceKF{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeNO{
    position: relative;
    animation: 0.8s ease 1 fadeNOKF;
}
@keyframes fadeNOKF{
    0%{
        transform: translate(-30px, -30px);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

.fadeSW{
    position: relative;
    animation: 0.8s ease 1 fadeSWKF;
}
@keyframes fadeSWKF{
    0%{
        transform: translate(30px, 30px);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}