.contact-container{
    overflow: hidden;
    .main{
        box-sizing: border-box;
        padding: 0 15vw;
        width: 100vw;
        height: 750px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primaryColor);
        .left{
            width: 500px;
        }
        .right{
            .image{
                width: 300px;
                height: 450px;
                object-fit: cover;
            }
        }
    }
    @media (width <= 1200px) {
        .main{
            padding: 50px 5vw;
            height: fit-content;
        }
    }
    @media (width <= 930px) {
        .main{
            padding: 75px 55px 45px;
            flex-direction: column-reverse;
            .left{
                margin-top: 35px;
                width: 100%;
                max-width: 500px;
                .divider{
                    margin: 35px 0;
                }
            }
        }
    }
}